.live-content {
    margin-bottom: 15px;
}
.control-bar {
    padding-top: 10px;
    text-align: center;
    .btn-end {
        width: 100px;
        border-radius: 15px;
        outline: none;
    }
    .btn-danger {
        background-color: #e53f6b;
        border-color: #e53f6b;
        &:hover,
        &:focus,
        &:active,
        &.active {
            outline: none;
            box-shadow: none;
            background-color: #e53f69;
            border-color: #e53f69;
        }
    }
}
@import "livevideo";
@import "liveim";