.live-agreement {
    display: none;
    padding: 20px 40px;
    color: #666;
    .intro {
        margin-bottom: 10px;
    }
    .content {
        padding-left: 0;
    }
    .hint {
        margin-bottom:10px;
    }
}

