.attentionlist {
    padding: 10px 0;
    .attentionlist-cell {
        position: relative;
        padding: 10px 0;
        .avatar {
            position: absolute;
            top: 10px;
            left: 0;
            width: 60px;
            height: 60px;
            overflow: hidden;
        }
        .content {
            margin-left: 60px;
            padding-left: 20px;
            vertical-align: top;
            height: 60px;
            overflow: hidden;
            .name {
                position: relative;
                margin-top: 10px;
                > a {
                    color: #333;
                }
            }
            .post {
                > span {
                    margin-right: 10px;
                }
            }
        }
    }
}