<div class="answer-other">
    <div class="construct-wrapper mb-20px">
        <div class="hold-left">
            <img src="../../images/core/avatar.png" width="40" height="40" class="img-circle">
        </div>
        <div class="let-right">
            <div class="answer-name answer-name-other">纪楠</div>
            <div class="answer-post">
                <span>肿瘤专科</span><span>资深医生</span>
            </div>
        </div>
    </div>

    <div class="construct-wrapper stretch-text-hook">
        <div class="hold-left">
            <a  class="thumbs thumbs-hover">
                <i class="fa fa-thumbs-up"></i><br/>
                <span class="num">0</span>
            </a>
            <a class="thumbs thumbs-hover">
                <span class="num">20</span><br/>
                <i class="fa fa-thumbs-down"></i>
            </a>
        </div>
        <div class="let-right">
            <div class="hold-text hold-text-hook">
                <div class="describe describe-hook">
                    我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他器官高得多。
                    我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他器官高得多。
                    我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他器官高得多。
                </div>
            </div>

            <div class="cell-foot clearfix">
                <div class="cell-right pull-left">
                    <a href="" class="text-color1">
                        <i class="fa fa-commenting"></i> 回复
                    </a>
                    <span class="time">发布于04月24日 10:06</span>
                    <a href="" class="text-color1 pl-10px">
                        <i class="fa fa-edit"></i> 编辑
                    </a>
                    <a href="" class="text-color3 pl-10px">
                        <i class="fa fa-thumbs-up"></i> 设为最佳答案
                    </a>
                </div>
                <div class="pull-right">
                    <span class="check-all check-all-hook">
                        <span class="pack-up-hook">查看全部</span>
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
