<div class="question-content">
    <div class="content-head clearfix">
        <div class="avat-box pull-left">
            <a href=""><img class="img-circle" src="../../images/core/avatar.png" width="60" height="60" alt=""></a>
        </div>
        <div class="op-box pull-left">
            <div class="op-tb op-top">
                <a href="" class="user_name">喵星人</a>
                <span class="grade text-warning">Lv2</span>
                <span>发布了动态</span>
            </div>
            <div class="op-bottom">
                    <span class="label label-badge label-primary">
                        <i class="fa fa-user"></i> 未认证
                    </span>
            </div>
        </div>
    </div>

    <div class="content-info">
        <h3 class="question">
            <a href="">问：问什么？</a>
        </h3>
        <div class="answer">答：因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......因为.......</div>
        <div class="cell-foot clearfix">
            <div class="cell-left">
                    <span class="study">
                        学习交流
                    </span>
                <span class="discuss">
                        病理讨论
                    </span>
            </div>
            <div class="cell-right">
                <a href="" class="text-color1">
                    <i class="fa fa-commenting"></i> 回复
                    <span class="count">3</span>
                </a>
                <span class="time">发布于06月27日 10:04</span>
            </div>
        </div>
    </div>
</div>
