<div class="myanswerlist">
    <div class="question">
        <span class="label-warning label-question">问</span>
        <a href="" class="text">颈椎骨质增生</a>
    </div>
    <div class="question-info">
        <div class="info">
            <img src="../../images/core/avatar.png" width="30" height="30" class="img-circle"/>
            <a href="" class="name">纪楠</a>
            <span class="text-warning">Lv2</span>
        </div>
        <div class="">
            <span class="label label-badge label-primary">
                <i class="fa fa-user"></i> 未认证
            </span>
        </div>
    </div>
    <div class="my-answer">
        <div class="title">我的回答</div>
        <div class="content">
            我的回答我的回答我的回答我的回答
        </div>
    </div>
</div>