<div class="myquestionlist">
    <div class="question">
        <span class="label-warning label-question">问</span>
        <a href="" class="text">颈椎骨质增生</a>
    </div>
    <div class="cell-foot clearfix">
        <div class="cell-left">
            <span class="study">学习交流</span>
            <span class="discuss">病理讨论</span>
        </div>
        <div class="cell-right pull-right">
            <a href="" class="text-color1">
                <i class="fa fa-commenting"></i> 回复
                <span class="count">3</span>
            </a>
            <span class="time">提问于06月27日 10:04</span>
        </div>
    </div>
</div>