* {
  box-sizing: border-box; }

body {
  background: #e9edf0;
  color: #666; }

a {
  color: #666; }
  a:hover, a:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer; }

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

img {
  object-fit: cover;
  object-position: center; }

.mt-0 {
  margin-top: 0 !important; }

.mt-5px {
  margin-top: 5px !important; }

.mt-10px {
  margin-top: 10px !important; }

.mt-15px {
  margin-top: 15px !important; }

.mt-20px {
  margin-top: 20px !important; }

.mt-25px {
  margin-top: 25px !important; }

.mt-30px {
  margin-top: 30px !important; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5px {
  margin-right: 5px !important; }

.mr-10px {
  margin-right: 10px !important; }

.mr-15px {
  margin-right: 15px !important; }

.mr-20px {
  margin-right: 20px !important; }

.mr-25px {
  margin-right: 25px !important; }

.mr-30px {
  margin-right: 30px !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-5px {
  margin-bottom: 5px !important; }

.mb-10px {
  margin-bottom: 10px !important; }

.mb-15px {
  margin-bottom: 15px !important; }

.mb-20px {
  margin-bottom: 20px !important; }

.mb-25px {
  margin-bottom: 25px !important; }

.mb-30px {
  margin-bottom: 30px !important; }

.ml-0 {
  margin-left: 0 !important; }

.ml-5px {
  margin-left: 5px !important; }

.ml-10px {
  margin-left: 10px !important; }

.ml-15px {
  margin-left: 15px !important; }

.ml-20px {
  margin-left: 20px !important; }

.ml-25px {
  margin-left: 25px !important; }

.ml-30px {
  margin-left: 30px !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-5px {
  padding-top: 5px !important; }

.pt-10px {
  padding-top: 10px !important; }

.pt-15px {
  padding-top: 15px !important; }

.pt-20px {
  padding-top: 20px !important; }

.pt-25px {
  padding-top: 25px !important; }

.pt-30px {
  padding-top: 30px !important; }

.pr-0 {
  padding-right: 0 !important; }

.pr-5px {
  padding-right: 5px !important; }

.pr-10px {
  padding-right: 10px !important; }

.pr-15px {
  padding-right: 15px !important; }

.pr-20px {
  padding-right: 20px !important; }

.pr-25px {
  padding-right: 25px !important; }

.pr-30px {
  padding-right: 30px !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-5px {
  padding-bottom: 5px !important; }

.pb-10px {
  padding-bottom: 10px !important; }

.pb-15px {
  padding-bottom: 15px !important; }

.pb-20px {
  padding-bottom: 20px !important; }

.pb-25px {
  padding-bottom: 25px !important; }

.pb-30px {
  padding-bottom: 30px !important; }

.pl-0 {
  padding-left: 0 !important; }

.pl-5px {
  padding-left: 5px !important; }

.pl-10px {
  padding-left: 10px !important; }

.pl-15px {
  padding-left: 15px !important; }

.pl-20px {
  padding-left: 20px !important; }

.pl-25px {
  padding-left: 25px !important; }

.pl-30px {
  padding-left: 30px !important; }

.w-0 {
  width: 0 !important; }

.w-10px {
  width: 10px !important; }

.w-20px {
  width: 20px !important; }

.w-30px {
  width: 30px !important; }

.w-40px {
  width: 40px !important; }

.w-50px {
  width: 50px !important; }

.w-60px {
  width: 60px !important; }

.w-70px {
  width: 70px !important; }

.w-80px {
  width: 80px !important; }

.w-90px {
  width: 90px !important; }

.w-100px {
  width: 100px !important; }

.w-110px {
  width: 110px !important; }

.w-120px {
  width: 120px !important; }

.w-130px {
  width: 130px !important; }

.w-140px {
  width: 140px !important; }

.w-150px {
  width: 150px !important; }

.w-160px {
  width: 160px !important; }

.w-170px {
  width: 170px !important; }

.w-180px {
  width: 180px !important; }

.w-190px {
  width: 190px !important; }

.w-200px {
  width: 200px !important; }

.w-210px {
  width: 210px !important; }

.w-220px {
  width: 220px !important; }

.w-230px {
  width: 230px !important; }

.w-240px {
  width: 240px !important; }

.w-250px {
  width: 250px !important; }

.w-260px {
  width: 260px !important; }

.w-270px {
  width: 270px !important; }

.w-280px {
  width: 280px !important; }

.w-290px {
  width: 290px !important; }

.w-300px {
  width: 300px !important; }

.text-333 {
  color: #333; }

.text-666 {
  color: #666; }

.text-999 {
  color: #999; }

.bg-fff {
  background: #fff; }

.bg-ccc {
  background: #ccc; }

.bg-eee {
  background: #eee; }

.box-shadow {
  box-shadow: 0 1px 1px 1px #ddd; }

.icons {
  display: inline-block; }

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #3c4147;
  z-index: 1000; }
  .header-wrapper .content-wrapper {
    position: relative;
    height: 100%; }
    .header-wrapper .content-wrapper .part-left {
      height: 100%; }
    .header-wrapper .content-wrapper .part-right {
      height: 100%; }
  .header-wrapper .logo {
    display: inline-block;
    padding-top: 18px;
    margin-right: 20px;
    vertical-align: top;
    height: 100%; }

.nav-group {
  display: inline-block;
  margin-bottom: 0;
  line-height: 80px;
  list-style: none; }
  .nav-group .nav-group-cell {
    float: left;
    padding-left: 0; }
    .nav-group .nav-group-cell.active > a {
      color: #fff; }
    .nav-group .nav-group-cell > a {
      display: inline-block;
      padding-right: 24px;
      height: 100%;
      color: #999;
      font-size: 16px; }
      .nav-group .nav-group-cell > a:hover {
        color: #fff; }
    .nav-group .nav-group-cell:last-child > a {
      padding-right: 0; }
    .nav-group .nav-group-cell > ul {
      margin: 0;
      border-radius: 4px;
      border: none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      z-index: 10;
      padding: 10px !important;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      text-align: left; }
      .nav-group .nav-group-cell > ul:before {
        position: absolute;
        top: -16px;
        left: 10px;
        content: '';
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: #fff; }
      .nav-group .nav-group-cell > ul > li {
        padding-left: 10px;
        font-size: 14px;
        border-bottom: 1px solid #eee; }
        .nav-group .nav-group-cell > ul > li:last-child {
          border-bottom: none; }
        .nav-group .nav-group-cell > ul > li > a {
          padding-left: 10px !important;
          line-height: 30px !important;
          color: #666 !important; }
          .nav-group .nav-group-cell > ul > li > a:hover {
            color: #59c8a7 !important;
            background: #fff !important; }

.person-meun {
  line-height: 80px; }
  .person-meun li {
    padding-right: 20px;
    float: left; }
    .person-meun li:last-child {
      padding-right: 0;
      float: right; }
      .person-meun li:last-child img {
        margin-left: 10px; }
    .person-meun li > a {
      display: inline-block;
      position: relative;
      line-height: 32px;
      color: #999;
      font-size: 14px; }
      .person-meun li > a:hover {
        color: #fff; }
      .person-meun li > a .fa {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.4); }
      .person-meun li > a .warm-circle {
        position: absolute;
        top: 6px;
        right: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #d45d51; }
  .person-meun .no-login {
    height: 100%;
    line-height: 80px; }
    .person-meun .no-login .top-btn {
      padding: 5px 20px;
      color: #999;
      border: 1px solid #999;
      border-radius: 2px; }
      .person-meun .no-login .top-btn:hover {
        color: #fff;
        border: 1px solid #fff; }

.all-search {
  display: none;
  padding-top: 24px !important;
  position: absolute;
  top: 0;
  right: 268px;
  width: 240px;
  z-index: 100; }
  .all-search .search {
    padding: 4px 32px 4px 16px;
    outline: none;
    box-shadow: none;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); }
    .all-search .search:focus {
      outline: none;
      box-shadow: none;
      border-color: #0b70c3; }
  .all-search .submit-btn {
    position: absolute;
    top: 24px;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: none;
    border-radius: 50%;
    background: transparent; }
    .all-search .submit-btn:hover {
      color: #fff; }
    .all-search .submit-btn:focus {
      box-shadow: none;
      border: none;
      outline: none; }

.dropdown-hover .dropdown-menu {
  margin: -1px 0; }

.dropdown-hover:hover > .dropdown-menu,
.open > .dropdown-menu {
  display: block; }

.dropdown-hover:hover > a,
.open > a {
  outline: 0; }

.userinfo-card {
  position: relative;
  padding-bottom: 20px;
  width: 300px;
  line-height: 1.4 !important;
  z-index: 1000; }
  .userinfo-card:before {
    position: absolute;
    top: -16px;
    left: 145px;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff; }
  .userinfo-card img {
    margin: 0 !important; }
  .userinfo-card .top-bg {
    width: 100%;
    height: 80px;
    overflow: hidden; }
    .userinfo-card .top-bg .change-bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 28px;
      height: 28px; }
  .userinfo-card .person-info {
    padding: 0 20px;
    margin-bottom: 10px; }
    .userinfo-card .person-info .avatar {
      margin: -34px auto 20px auto;
      width: 68px;
      height: 68px;
      border: 4px solid #e9edf0;
      border-radius: 50%; }
    .userinfo-card .person-info .name {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 700;
      text-align: center; }
    .userinfo-card .person-info .focus > a {
      display: inline-block;
      float: left;
      width: 33.333333%;
      text-align: center;
      color: #999; }
      .userinfo-card .person-info .focus > a:hover {
        color: #59c8a7; }
      .userinfo-card .person-info .focus > a .count {
        display: inline-block;
        vertical-align: top;
        max-width: 28px;
        overflow: hidden; }
  .userinfo-card .handle-module {
    margin: 0 20px;
    border: 1px solid #e6e6e6; }
    .userinfo-card .handle-module .row {
      margin: 0;
      border-bottom: 1px solid #e6e6e6; }
      .userinfo-card .handle-module .row:last-child {
        border-bottom: none; }
      .userinfo-card .handle-module .row .module1 {
        border-right: 1px solid #e6e6e6; }
      .userinfo-card .handle-module .row .module {
        display: inline-block;
        padding: 15px 0;
        width: 100%;
        text-align: center; }
        .userinfo-card .handle-module .row .module .fa {
          margin-bottom: 5px;
          font-size: 16px; }

.change-nav {
  display: none;
  position: relative;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 992px) {
    .change-nav {
      display: block; } }
  .change-nav .change-person-info > ul > li a {
    color: #999; }
    .change-nav .change-person-info > ul > li a:hover {
      color: #fff; }
  .change-nav .change-person-info > ul > li:last-child a:hover {
    color: #59c8a7; }
  .change-nav .change-part-show {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .change-nav .change-part-show .fa-show {
      margin-top: 30px;
      font-size: 20px;
      color: #59c8a7;
      cursor: pointer; }
      .change-nav .change-part-show .fa-show:hover {
        color: #32987a; }

.change-all-search {
  display: none;
  padding-top: 24px;
  position: absolute;
  top: 0;
  left: 186px;
  width: 240px;
  z-index: 100; }
  .change-all-search .search {
    padding: 4px 32px 4px 16px;
    outline: none;
    box-shadow: none;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); }
    .change-all-search .search:focus {
      outline: none;
      box-shadow: none;
      border-color: #0b70c3; }
  .change-all-search .submit-btn {
    position: absolute;
    top: 24px;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: none;
    border-radius: 50%;
    background: transparent; }
    .change-all-search .submit-btn:hover {
      color: #fff; }
    .change-all-search .submit-btn:focus {
      box-shadow: none;
      border: none;
      outline: none; }

.content-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  .content-wrapper.content-wrapper-add {
    margin-top: 100px;
    margin-bottom: 20px; }
  .content-wrapper .part-left .cell {
    position: relative;
    padding: 0 30px;
    background: #fff; }
    .content-wrapper .part-left .cell.cell-add {
      margin-left: 30px; }
  .content-wrapper .part-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; }
    @media (max-width: 992px) {
      .content-wrapper .part-right {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 300px; } }
    .content-wrapper .part-right .cell {
      position: relative;
      padding: 0 20px;
      background: #fff; }
  .content-wrapper .grid-left {
    background: green; }
    .content-wrapper .grid-left .cell {
      position: relative;
      padding: 0 30px;
      background: #fff; }
      .content-wrapper .grid-left .cell.cell-add {
        margin-left: 30px; }
  .content-wrapper .grid-right {
    background: orange; }
    @media (max-width: 992px) {
      .content-wrapper .grid-right {
        width: 326px; } }
    .content-wrapper .grid-right .cell {
      position: relative;
      padding: 0 20px;
      background: #fff; }
  @media (min-width: 768px) {
    .content-wrapper {
      max-width: 740px; } }
  @media (min-width: 992px) {
    .content-wrapper {
      max-width: 960px; }
      .content-wrapper .part-left {
        max-width: 640px; } }
  @media (min-width: 1060px) {
    .content-wrapper {
      max-width: 1020px; }
      .content-wrapper .part-left {
        max-width: 700px; } }

.tab-search {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  background: #f2f7fa; }
  .tab-search.tab-search-special {
    height: auto; }
  .tab-search .tab-content {
    margin: 0;
    padding: 0;
    list-style: none; }
    .tab-search .tab-content > li {
      display: inline-block;
      float: left;
      height: 100%; }
      .tab-search .tab-content > li > a {
        display: inline-block;
        position: relative;
        padding: 0 20px;
        height: 100%;
        font-size: 16px;
        font-weight: 700; }
        .tab-search .tab-content > li > a.active {
          background: #fff;
          color: #59c8a7; }
          .tab-search .tab-content > li > a.active:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 4px;
            background: #59c8a7; }
  .tab-search .search-btn {
    margin-right: 20px;
    font-size: 16px;
    color: #a5aeb8;
    cursor: pointer; }
  .tab-search .search-wrap {
    display: inline-block;
    padding: 0 20px;
    position: absolute;
    right: -244px;
    background: #f2f7fa;
    width: 244px;
    height: 50px;
    opacity: 0; }
    .tab-search .search-wrap .wb-search {
      outline: none;
      box-shadow: none !important;
      border-radius: 2px;
      border: none;
      padding: 0 20px;
      font-size: 14px;
      margin-top: 9px;
      background: #f2f7fa !important;
      border-left: 2px solid #bbbbbb; }
      .tab-search .search-wrap .wb-search:focus {
        border-left: 2px solid #bbbbbb; }
    .tab-search .search-wrap .btn-sub {
      position: absolute;
      top: 9px;
      right: 10px;
      font-size: 16px;
      color: #666;
      border: none;
      background: transparent;
      cursor: pointer; }
      .tab-search .search-wrap .btn-sub:focus {
        box-shadow: none;
        outline: none; }
  .tab-search .content-class {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700; }

.topic-title {
  height: 45px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #e1e5ea; }
  .topic-title .title-wrap {
    display: inline-block;
    line-height: 45px; }
    .topic-title .title-wrap > a {
      font-size: 14px;
      color: #a5aeb8; }
    .topic-title .title-wrap .fa {
      display: inline-block;
      margin-right: 12px;
      line-height: 40px;
      font-size: 18px;
      color: #ebaa4c;
      border-bottom: 2px solid #ebaa4c; }

.my-community {
  width: 100%;
  height: auto;
  background: #ffffff; }
  .my-community .check {
    position: absolute;
    top: 5px;
    right: 15px; }
  .my-community .self-grade {
    margin-top: 15px;
    font-size: 16px;
    color: #666; }
  .my-community .grade-box {
    padding: 25px 0 5px 0;
    margin: 0;
    border-bottom: 1px solid #e4e4e4; }
    .my-community .grade-box .upgrade .grade-bottom {
      border-top: 7px solid #eee; }
    .my-community .grade-box .upgrade .grade-top {
      border-top: 7px solid #1ABC9C;
      margin-top: -7px;
      z-index: 9999; }
    .my-community .grade-box .gg-wrap {
      padding: 5px 0;
      font-size: 12px; }
      .my-community .grade-box .gg-wrap > p {
        margin: 0; }
  .my-community .gg-check {
    margin: 0;
    max-height: 78px;
    overflow: hidden; }
    .my-community .gg-check .c-box {
      padding: 10px; }
      .my-community .gg-check .c-box .signIn {
        display: inline-block;
        margin-right: 11px;
        cursor: pointer; }
      .my-community .gg-check .c-box .ranking {
        display: inline-block;
        margin-left: 11px; }
      .my-community .gg-check .c-box p {
        padding: 0 2px 0 3px;
        margin-bottom: 0;
        color: #999;
        font-size: 14px; }
      .my-community .gg-check .c-box:hover .pc6 {
        color: #666; }

.fooder-wrapper {
  padding: 20px;
  font-size: 16px;
  color: #999;
  background: #3c4147; }
  .fooder-wrapper .attention {
    padding: 60px 0 52px 0;
    text-align: right; }
    .fooder-wrapper .attention > span {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      line-height: 50px; }
      .fooder-wrapper .attention > span.icons {
        margin-right: 46px; }
        .fooder-wrapper .attention > span.icons:last-child {
          margin-right: 0; }
  .fooder-wrapper .share {
    text-align: right;
    line-height: 34px; }
    .fooder-wrapper .share .bdsharebuttonbox {
      display: inline-block;
      height: 34px;
      line-height: 34px; }
    .fooder-wrapper .share a {
      display: inline-block;
      padding: 0;
      margin: 0 5px 0 0;
      vertical-align: top;
      width: 34px;
      height: 34px;
      text-align: center;
      line-height: 34px;
      border-radius: .25em;
      color: #fff;
      float: none;
      font-size: 16px;
      background-image: none; }
      .fooder-wrapper .share a:last-child {
        margin-right: 0 !important; }
      .fooder-wrapper .share a.plus {
        background: #4dbfe3; }
      .fooder-wrapper .share a.star {
        background: #e79211; }
      .fooder-wrapper .share a.weixin {
        background: #56b744; }
      .fooder-wrapper .share a.sina {
        background: #da2946; }
      .fooder-wrapper .share a.tcent {
        background: #1d89c9; }
      .fooder-wrapper .share a.qq {
        background: #107cbc; }
  .fooder-wrapper .accurad-code {
    margin-top: 20px; }

.backtop {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 46px;
  height: 45px;
  z-index: 1000;
  cursor: pointer;
  overflow: hidden; }
  .backtop .icons {
    position: relative; }

.pagination-wrapper {
  text-align: center; }

.pagination {
  display: inline-block;
  padding: 30px 0;
  vertical-align: top;
  font-size: 16px; }
  .pagination .pagination-cell {
    margin-right: 5px;
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: .25em;
    background: #f4f4f4; }
    .pagination .pagination-cell:last-child {
      margin-right: 0; }
    .pagination .pagination-cell > a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #59c8a7; }
    .pagination .pagination-cell.active, .pagination .pagination-cell:hover {
      background: #59c8a7; }
      .pagination .pagination-cell.active > a, .pagination .pagination-cell:hover > a {
        color: #fff; }

.icons-accurad {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -166px -120px;
  width: 50px;
  height: 50px; }

.icons-checked {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -46px -120px;
  width: 60px;
  height: 60px; }

.icons-checking {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -106px -120px;
  width: 60px;
  height: 60px; }

.icons-code {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -120px 0px;
  width: 220px;
  height: 42px; }

.icons-erweima {
  background-image: url(../../images/core/sprite-core.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px; }

.icons-logo {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -120px -42px;
  width: 136px;
  height: 43px; }

.icons-top {
  background-image: url(../../images/core/sprite-core.png);
  background-position: 0px -120px;
  width: 46px;
  height: 90px; }

.icons-weibo {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -216px -120px;
  width: 50px;
  height: 50px; }

.icons-weixin {
  background-image: url(../../images/core/sprite-core.png);
  background-position: -266px -120px;
  width: 50px;
  height: 50px; }

/*# sourceMappingURL=core.css.map */
