<div class="choosefind">
    <div class="row">
        <div class="col-sm-6">
            <select name="" class="form-control">
                <option value="">请选择</option>
                <option value="">影像学</option>
                <option value="">临床学</option>
            </select>
        </div>
        <div class="col-sm-6">
            <select name="" class="form-control">
                <option value="">请选择</option>
                <option value="">精神科</option>
                <option value="">麻醉科</option>
                <option value="">五官科</option>
            </select>
        </div>
    </div>
</div>
