<ul class="attentionlist">
    <li class="attentionlist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="name"><a href="">姓名</a></div>
            <div class="post">
                <span>主任医生</span><span>放射科</span>
            </div>
        </div>
    </li>
    <li class="attentionlist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="name"><a href="">姓名</a></div>
            <div class="post">
                <span>主任医生</span><span>放射科</span>
            </div>
        </div>
    </li>
    <li class="attentionlist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="name"><a href="">姓名</a></div>
            <div class="post">
                <span>主任医生</span><span>放射科</span>
            </div>
        </div>
    </li>
    <li class="attentionlist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="name"><a href="">姓名</a></div>
            <div class="post">
                <span>主任医生</span><span>放射科</span>
            </div>
        </div>
    </li>
    <li class="attentionlist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="name"><a href="">姓名</a></div>
            <div class="post">
                <span>主任医生</span><span>放射科</span>
            </div>
        </div>
    </li>
</ul>