<div class="personlist">
    <div class="row">
        <div class="col-sm-4">
            <div class="oneperson person-info">
                <div class="avatar">
                    <a href=""><img class="img-circle" src="../../images/core/avatar.png" width="80" height="80" alt=""></a>
                </div>
                <div class="name text-ellipsis">
                    <a href="">三个字足够三三</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="oneperson person-post">
                <div class="text-ellipsis">Lv6 主任医师</div>
                <div class="text-ellipsis">医真医师</div>
                <div class="text-ellipsis">放射科</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="oneperson person-fans clearfix">
                <div class="fans pull-left">
                    <div>关注 150</div>
                    <div>粉丝 505</div>
                </div>
                <div class="score pull-right">积分 32</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="oneperson person-attention clearfix">
                <a class="btn btn-success pull-right">关注</a>
            </div>
        </div>
    </div>
</div>

<div class="personlist">
    <div class="row">
        <div class="col-sm-4">
            <div class="oneperson person-info">
                <div class="avatar">
                    <a href=""><img class="img-circle" src="../../images/core/avatar.png" width="80" height="80" alt=""></a>
                </div>
                <div class="name text-ellipsis">
                    <a href="">三个字足够三三</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="oneperson person-post">
                <div class="text-ellipsis">Lv6 主任医师</div>
                <div class="text-ellipsis">医真医师</div>
                <div class="text-ellipsis">放射科</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="oneperson person-fans clearfix">
                <div class="fans pull-left">
                    <div>关注 150</div>
                    <div>粉丝 505</div>
                </div>
                <div class="score pull-right">积分 32</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="oneperson person-attention clearfix">
                <a class="btn btn-link pull-right">已关注</a>
            </div>
        </div>
    </div>
</div>