<ul class="recommendlist ">
    <li class="recommendlist-cell">
        <div class="intro">
            <a href="" class="name">张医生</a>
            <span class="grade text-warning">L1.实习医生</span>
            <label class="label label-badge label-primary">
                <i class="fa fa-user"></i> 医真医师
            </label>
            <i class="fa fa-plus-square add-attention"></i>
        </div>
        <div class="post">
            <span>口腔科</span><span>粉丝 25</span>
        </div>
    </li>
    <li class="recommendlist-cell">
        <div class="intro">
            <a href="" class="name">张医生</a>
            <span class="grade text-warning">L1.实习医生</span>
            <label class="label label-badge label-primary">
                <i class="fa fa-user"></i> 医真医师
            </label>
            <i class="fa fa-plus-square add-attention"></i>
        </div>
        <div class="post">
            <span>口腔科</span><span>粉丝 25</span>
        </div>
    </li>
    <li class="recommendlist-cell">
        <div class="intro">
            <a href="" class="name">张医生</a>
            <span class="grade text-warning">L1.实习医生</span>
            <label class="label label-badge label-primary">
                <i class="fa fa-user"></i> 医真医师
            </label>
            <i class="fa fa-plus-square add-attention"></i>
        </div>
        <div class="post">
            <span>口腔科</span><span>粉丝 25</span>
        </div>
    </li>
    <li class="recommendlist-cell">
        <div class="intro">
            <a href="" class="name">张医生</a>
            <span class="grade text-warning">L1.实习医生</span>
            <label class="label label-badge label-primary">
                <i class="fa fa-user"></i> 医真医师
            </label>
            <i class="fa fa-plus-square add-attention"></i>
        </div>
        <div class="post">
            <span>口腔科</span><span>粉丝 25</span>
        </div>
    </li>
    <li class="recommendlist-cell">
        <div class="intro">
            <a href="" class="name">张医生</a>
            <span class="grade text-warning">L1.实习医生</span>
            <label class="label label-badge label-primary">
                <i class="fa fa-user"></i> 医真医师
            </label>
            <i class="fa fa-plus-square add-attention"></i>
        </div>
        <div class="post">
            <span>口腔科</span><span>粉丝 25</span>
        </div>
    </li>
</ul>