<div class="mb-20px">
    <div class="tab-search tab-search-special clearfix">
        <ul class="tab-content pull-left">
            <li><a href="#"  class="active">医技科</a></li>
            <li><a href="#">临床内科</a></li>
            <li><a href="#">临床外科</a></li>
            <li><a href="#">妇儿</a></li>
            <li><a href="#">五官科</a></li>
            <li><a href="#">中医</a></li>
            <li><a href="#">预防公卫</a></li>
            <li><a href="#">其他科室</a></li>
        </ul>
    </div>
    <div class="keshi-list">
        <div class="cell-wrapper">
            <span class="cell"><a href="#" class="active">检查科</a></span>
            <span class="cell"><a href="#">放射科</a></span>
            <span class="cell"><a href="#">超声内窥</a></span>
            <span class="cell"><a href="#">放疗科</a></span>
        </div>
    </div>
</div>
