<div class="group-detail-head">
    <div class="header-bg">
        <!--圈子封面 begin-->
        <img src="../../images/group/default_bg.jpg" width="100%" height="100%" alt="">
        <div class="change-bg">
            <span class="icons icons-change-bg"></span>
        </div>
        <div class="share">
            <button class="btn-share">分享</button>
        </div>
    </div>
    <div class="header-content">
        <div class="row">
            <div class="col-md-2">
                <div class="header-logo">
                    <img src="http://yizhen-test.oss-cn-hangzhou.aliyuncs.com/Uploads/Avatar/122/58d38bbc62dde.jpg?x-oss-process=image/resize,m_fill,w_128,h_128,limit_1/auto-orient,0/quality,q_90" width="140" height="140" alt="">
                </div>
            </div>
            <div class="col-md-10">
                <div class="title">
                    <h1>
                        <a href="{:U('group/index/group',array('id'=>$group['id']))}" title="{$group.title}">老中医</a>
                        <small>影像医学其他</small>
                    </h1>
                    <p class="intro"><span>简介：</span>牙周疾病主要包括哪些问题？牙周病一般如何治疗？</p>
                    <div class="group-type">
                        <span>[ 私有圈子 ]</span>
                        <span><i class="fa fa-bookmark"></i> 2</span>
                        <span><i class="fa fa-user"></i> 2</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="header-footer">
        <a class="btn btn-success">退出圈子</a>
        <a href="" class="btn btn-success"><i class="fa fa-edit"></i> 发帖</a>
        <a href="" class="btn btn-success"><i class="fa fa-gear"></i> 管理圈子</a>
        <a href="" class="btn btn-success group_invite"><i class="fa fa-wrench"></i> 添加成员</a>
        <a href="" class="btn btn-success"><i class="fa fa-plus"></i> 加入圈子</a>
    </div>
</div>