<div class="tab-search clearfix">
    <ul class="tab-content pull-left">
        <li><a href="" class="active">帖子</a></li>
        <li><a href="">最新动态</a></li>
        <li><a href="">成员</a></li>
    </ul>
    <div class="search-btn pull-right">
        <span>搜索</span>
        <i class="fa fa-search"></i>
    </div>

    <!--搜索框-->
    <div class="search-wrap clearfix">
        <form class="clearfix" action="" method="post">
            <input class="wb-search form-control pull-right" type="text" placeholder="输入您要查找的内容" name="title" value="">
            <button class="btn btn-link btn-sub" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
<script>
    $(function() {
        // 点击搜索按钮事件
        var showSearch = $('.search-btn');
        var hideSearch = $('.wb-search');
        var result = $('.btn-sub');
        showSearch.click(function() {
            $(this).parent().find('.search-wrap').animate({'margin-right':'244px','opacity':1},300,function() {
                $(this).find('.wb-search').focus();
            });
        });
        // 输入框失去焦点事件
        hideSearch.blur(function() {
            $(this).parents('.search-wrap').animate({'margin-right':0,'opacity':0},600);
        });
        // 搜索框内容为空时，无操作
        result.click(function() {
            var text = $(this).parent().find('.wb-search').val();
            if(text == '') {
              layer.msg('内容不能为空');
              return false;
            } else {
              $(this).submit();
            }
        });
    })
</script>