<div class="tiezi-list">
    <div class="tiezi-title">
        <a title="" href="">
            冷清的不成样了，，来个热帖
        </a>
        <span class="tiezi-label"></span>
        <span class="icons icons-is_top"></span>
        <span class="icons icons-digest"></span>
    </div>
    <div class="tiezi-name clearfix">
        <a class="tiezi-name-left" href="">
            <i class="fa fa-user"></i> <span>纪楠</span>
        </a>
        <span class="time">发表时间：06月27日 11:28</span>
        <span class="replay-time">最新回复：06月27日 11:28</span>
        <div class="pull-right tiezi-name-right">
            <i class="fa fa-eye "></i> <span class="liveness view-count">3</span>
            <i class="fa fa-commenting"></i> <span class="liveness">4</span>
        </div>
    </div>
</div>

<div class="tiezi-list">
    <div class="tiezi-title">
        <a title="" href="">
            冷清的不成样了，，来个热帖
        </a>
        <span class="tiezi-label"></span>
        <span class="icons icons-is_top"></span>
        <span class="icons icons-digest"></span>
    </div>
    <div class="tiezi-name clearfix">
        <a class="tiezi-name-left" href="">
            <i class="fa fa-user"></i> <span>纪楠</span>
        </a>
        <span class="time">发表时间：06月27日 11:28</span>
        <span class="replay-time">最新回复：06月27日 11:28</span>
        <div class="pull-right tiezi-name-right">
            <i class="fa fa-eye "></i> <span class="liveness view-count">3</span>
            <i class="fa fa-commenting"></i> <span class="liveness">4</span>
        </div>
    </div>
</div>

<div class="tiezi-list">
    <div class="tiezi-title">
        <a title="" href="">
            冷清的不成样了，，来个热帖
        </a>
        <span class="tiezi-label"></span>
        <span class="icons icons-is_top"></span>
        <span class="icons icons-digest"></span>
    </div>
    <div class="tiezi-name clearfix">
        <a class="tiezi-name-left" href="">
            <i class="fa fa-user"></i> <span>纪楠</span>
        </a>
        <span class="time">发表时间：06月27日 11:28</span>
        <span class="replay-time">最新回复：06月27日 11:28</span>
        <div class="pull-right tiezi-name-right">
            <i class="fa fa-eye "></i> <span class="liveness view-count">3</span>
            <i class="fa fa-commenting"></i> <span class="liveness">4</span>
        </div>
    </div>
</div>