<div class="cell-block group-author">
    <h2>圈子创始人</h2>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-5">
            <div class="group-avatar">
                <a href="">
                    <img src="../../images/core/avatar.png" width="90" height="90" class="img-circle"/>
                </a>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-7">
            <div>
                <h3><a href="">纪楠</a></h3>
                <small>实习医生</small>
            </div>
        </div>
    </div>
</div>
