<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2point4">
    <div class="item_inner thumbnail bg-fff">
        <img class="group-cover" width="100%" src="../../images/core/test.png" alt="">
        <div class="group-btn-wrapper clearfix">
            <a class="btn btn-sm btn-success" href="#">
                <i class="fa fa-user-plus"></i> 加入圈子
            </a>
            <a class="btn btn-sm btn-back" href="javascript:;">退出圈子</a>
        </div>
        <div class="group-detail caption">
            <h3 class="text-center"><b>圈子名称</b></h3>
            <div class="detail">老中医老中医老中医老中医老中医</div>
            <div class="group-detail-footer clearfix" >
                <div class="pull-left text-ellipsis">
                    <a class="author " href="#">
                        <img class="img-circle every-cell" src="../../images/core/avatar.png" width="20" height="20">
                        <span class="every-cell">纪楠</span>
                    </a>
                </div>
                <div class="pull-right count" >
                    <span title="" class="every-cell">
                        <i class="fa fa-bookmark"></i> 2
                    </span>
                    <span class="every-cell ml-10px">
                        <i class="fa fa-user"></i> 2
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        initCoverHeight();
    });
    $(window).resize(function() {
        initCoverHeight();
    });
    // 响应式圈子单元图片宽高判断(动态赋值使宽高相等)
    function initCoverHeight() {
        var groupCover = $('.group-cover');
        var groupCoverWidth = groupCover.eq(0).width();
        groupCover.height(groupCoverWidth);
    }
</script>