<div class="row pt-20px">
    <div class="col-xs-4">
        <div class="person-card">
            <div class="image">
                <a href="">
                    <img class="img-circle" width="60" height="60" src="../../images/core/avatar.png" alt="">
                </a>
            </div>
            <div class="main-name text-center">
                <div class="name"><a href="">李医生</a></div>
                <div class="post">主任医生</div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="person-card">
            <div class="image">
                <a href="">
                    <img class="img-circle" width="60" height="60" src="../../images/core/avatar.png" alt="">
                </a>
            </div>
            <div class="main-name text-center">
                <div class="name"><a href="">李医生</a></div>
                <div class="post">主任医生</div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="person-card">
            <div class="image">
                <a href="">
                    <img class="img-circle" width="60" height="60" src="../../images/core/avatar.png" alt="">
                </a>
            </div>
            <div class="main-name text-center">
                <div class="name"><a href="">李医生</a></div>
                <div class="post">主任医生</div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="person-card">
            <div class="image">
                <a href="">
                    <img class="img-circle" width="60" height="60" src="../../images/core/avatar.png" alt="">
                </a>
            </div>
            <div class="main-name text-center">
                <div class="name"><a href="">李医生</a></div>
                <div class="post">主任医生</div>
            </div>
        </div>
    </div>
</div>
