<div class="artical-wrapper new-artical">
    <div class="row">
        <div class="col-xs-4 image">
            <a href=""><img src="../../images/core/test.png" width="100%" height="100%" alt=""></a>
        </div>
        <div class="col-xs-8 content">
            <div class="title">
                <a href="">标题</a>
            </div>
            <div class="text">
                <a href="">内容aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
            </div>
            <div class="come-from clearfix">
                <a href="" class="address">
                    <i class="fa fa-user"></i> 来自内科圈
                </a>
                <span class="time pull-right">发布于今天 13:25</span>
            </div>
        </div>
    </div>
</div>