<ul class="mygrouplist">
    <li class="mygrouplist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="title"><a href="">标题标题标题标题标题标题标题标题</a></div>
            <div class="text">内容11111111111111111111111111111111111111111111111111</div>
        </div>
    </li>
    <li class="mygrouplist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="title"><a href="">标题标题标题标题标题标题标题标题</a></div>
            <div class="text">内容11111111111111111111111111111111111111111111111111</div>
        </div>
    </li>
    <li class="mygrouplist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="title"><a href="">标题标题标题标题标题标题标题标题</a></div>
            <div class="text">内容11111111111111111111111111111111111111111111111111</div>
        </div>
    </li>
    <li class="mygrouplist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="title"><a href="">标题标题标题标题标题标题标题标题</a></div>
            <div class="text">内容11111111111111111111111111111111111111111111111111</div>
        </div>
    </li>
    <li class="mygrouplist-cell">
        <div class="avatar">
            <a href=""><img width="60" height="60" src="../../images/core/avatar.png" alt=""></a>
        </div>
        <div class="content">
            <div class="title"><a href="">标题标题标题标题标题标题标题标题</a></div>
            <div class="text">内容11111111111111111111111111111111111111111111111111</div>
        </div>
    </li>
</ul>
