<div class="artical-wrapper i-like">
    <div class="content">
        <div class="title">
            <a href="">标题</a>
            <span class="pull-right" style="font-size: 12px;">发布于06月23日 11:51</span>
        </div>
        <div class="come-from clearfix">
            <a href="" class="address">
                <i class="fa fa-user"></i> 来自内科圈
            </a>
            <span class="love pull-right">
                <i class="fa fa-heart"></i> 喜欢
                <span class="count">9</span>
            </span>
        </div>
    </div>
</div>