<div class="recent-news">
    <div class="avatar">
        <a href=""><img class="img-circle" src="../../images/core/avatar.png" width="50" height="50" alt=""></a>
    </div>
    <div class="content">
        <div class="info clearfix">
            <div class="pull-left">
                <a>纪楠</a>
                <span class="text-999">回复了</span>
                <a>纪楠</a>
                <span class="text-999">的帖子</span>
                <a>广招天下英雄豪杰贴测试</a>
            </div>
            <div class="pull-right">
                <span class="text-999">06月23日 11:40</span>
            </div>
        </div>
        <div class="text text-ellipsis">
            该回复已被删除
        </div>
    </div>
</div>

<div class="recent-news">
    <div class="avatar">
        <a href=""><img class="img-circle" src="../../images/core/avatar.png" width="50" height="50" alt=""></a>
    </div>
    <div class="content">
        <div class="info clearfix">
            <div class="pull-left">
                <a>纪楠</a>
                <span class="text-999">回复了</span>
                <a>纪楠</a>
                <span class="text-999">的帖子</span>
                <a>广招天下英雄豪杰贴测试</a>
            </div>
            <div class="pull-right">
                <span class="text-999">06月23日 11:40</span>
            </div>
        </div>
        <div class="text text-ellipsis">
            该回复已被删除
        </div>
    </div>
</div>

<div class="recent-news">
    <div class="avatar">
        <a href=""><img class="img-circle" src="../../images/core/avatar.png" width="50" height="50" alt=""></a>
    </div>
    <div class="content">
        <div class="info clearfix">
            <div class="pull-left">
                <a>纪楠</a>
                <span class="text-999">回复了</span>
                <a>纪楠</a>
                <span class="text-999">的帖子</span>
                <a>广招天下英雄豪杰贴测试</a>
            </div>
            <div class="pull-right">
                <span class="text-999">06月23日 11:40</span>
            </div>
        </div>
        <div class="text text-ellipsis">
            该回复已被删除
        </div>
    </div>
</div>