<div class="artical-wrapper boutique-artical">
    <div class="content">
        <div class="title">
            <span class="icons icons-jingxuan"></span><a href="">标题</a>
        </div>
        <div class="text">
            <a href="">我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他...</a>
        </div>
        <div class="come-from clearfix">
            <a href="" class="address">
                <i class="fa fa-user"></i> 来自内科圈
            </a>
            <span class="love pull-right">
                <i class="fa fa-heart"></i> 喜欢
                <span class="count">9</span>
            </span>
        </div>
    </div>
</div>