<div class="replay-post-box">
    <div class="replay-head">
        <div class="replay-head-avatar">
            <a href=""><img src="../../images/core/avatar.png"  width="50" height="50" class="img-circle"/></a>
        </div>
        <div class="replay-head-info">
            <div class="replay-head-name"><a>纪楠</a></div>
            <div class="replay-head-post">研究员</div>
        </div>
    </div>

    <div class="">
        <div id="reply_block">
            <form id="reply_form" action="" method="post" class="ajax-form">
                <div>
                    <textarea class="form-control" name="" id="" placeholder="此处引入富文本编辑器" style="height: 250px;"></textarea>
                </div>
                <div class="mt-20px clearfix">
                    <button class="btn btn-success pull-right"><i class="fa fa-edit"></i> 发布回答</button>
                </div>
            </form>
        </div>
    </div>
</div>