<div class="tiezi-detail-wrapper">
    <div class="tiezi-detail-head">
        <div class="goback-group">
            <i class="fa fa-chevron-left"></i>
            <a class="" href="">返回圈子</a>
        </div>
        <div class="main-title">
            <h2><span class="title">标题标题</span> <span class="icons icons-is_top"></span></h2>
            <div class="mian-from clearfix">
                <!--置顶、取消置顶按钮-->
                <div class="choose-top pull-right">
                    <a title="置顶">置顶</a>
                    <a title="取消置顶">取消置顶</a>
                </div>
                <!--发布者头像时间等-->
                <a href=""><img class="img-circle" width="20" height="20" src="../../images/core/avatar.png" alt=""></a>
                <span>
                    <a href="" class="">纪楠</a>
                </span>
                <span>2017-06-22 11:46</span>
                <span>技术交流</span>
            </div>
        </div>
    </div>

    <div class="tiezi-detail-content">
        我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他器官高得多。我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他器官高得多。我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等，似乎心和脑的血管发生栓塞的概率比其他器官高得多。我们一般只听过心脑血管疾病，没有听过肝血管疾病、肾血管疾病等等
    </div>

    <div class="tiezi-detail-foot footer-operation">
        <a href="#" data-role="collect">
            <i class="fa fa-star"></i> 收藏
        </a>

        <a href="#" data-role="replay">
            <i class="fa fa-commenting"></i> 回复
        </a>
        <a href="#" data-role="edit">
            <i class="fa fa-edit"></i> 编辑
        </a>

        <a href="#" data-role="delete">
            <i class="fa fa-trash"></i> 删除
        </a>
    </div>
</div>