<div class="weibo-comment">
    <div class="avatar-info">
        <a href=""><img src="../../images/core/avatar.png" width="30" height="30" class="img-circle"/></a>
    </div>
    <div class="content-info clearfix">
        <a href="" class="name">喵星人</a>：
        <span class="content text-666">评论内容</span>
        <span class="good">
            <a class="" title="点赞">
                <i class="fa fa-thumbs-up"></i>
                <span id="support_{$appname}_{$table}_{$comment.id}_pos"><span id="support_{$appname}_{$table}_{$comment.id}" class="text-muted">15</span> </span>
            </a>
            <span class="time">
                ● 06月16日 10:48
            </span>
        </span>
        <div class="comment-replay pull-right">
            <a title="回复">回复</a> |
            <a title="喜欢">赞</a>
        </div>
    </div>
</div>