<div class="pull-right">
    <a class="dynamic-state text-color1">
        <i class="fa fa-commenting"></i> 评论 <span class="count">872</span>
    </a>
    <a class="dynamic-state text-color2">
        <i class="fa fa-heart"></i> 喜欢 <span class="count">87</span>
    </a>
    <a class="dynamic-state text-color3">
        <i class="fa fa-share"></i> 转发 <span class="count">87</span>
    </a>
    <a class="dynamic-state text-color4">
        <i class="fa fa-share-alt"></i> 分享 <span class="count">87</span>
    </a>
</div>
<div class="cell-live-icon pull-right">
    <a class=""><i class="fa fa-youtube-play"></i> 直播预约</a>
</div>
