<div class="cell cell-add pt-10px pb-10px mb-20px" >
    <div class="weibo_content clearfix">
        <div class="clearfix">
            <div class="pull-left weibo-dongtai-name">
                <span>【Lv2】</span>
                <a href="#" class="user_name"> 纪楠</a>
            </div>
            <div class="pull-right show_num_quick">还能输入800个字</div>
        </div>
        <div class="weibo_content_p">
            <div>
                <textarea class="form-control" rows="50">#课题名字#</textarea>
            </div>
            <div class="weibo-content-footer clearfix">
                <div class="pull-right">
                    <input type="submit" value="发布 Ctrl+Enter" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </div>
</div>