<div class="cell cell-add pt-10px pb-10px mb-20px">
    <div class="topic-head-info clearfix">
        <div class="cover-wrap pull-left">
            <img src="../../images/core/avatar.png" width="100%" height="100%">
        </div>
        <div class="info-wrap pull-left">
            <p class="t-name">#话题名字#</p>
            <p class="t-intro">导语：TEST</p>
            <p>
                <a href="#" class="common-btn send-topic-wb">
                   <i class="fa fa-edit"></i> 发动态
                </a>
                <a href="#" class="common-btn share">分享</a>
                <a href="#" class="common-btn follow">已关注</a>
                <a href="#" class="common-btn compete">抢先主持</a>
            </p>
        </div>
    </div>
</div>