<div class="topic-holder">
    <div class="have-holder clearfix">
        <div class="h-avatar pull-left">
            <img class="img-circle" src="../../images/core/avatar.png" width="100%" height="100%">
        </div>
        <div class="h-info pull-left">
            <p><a class="named" href="#">昵称</a></p>
            <p class="intro-self">
                在彼此不知所踪的的时光里，那些飘散在空气中的甜言蜜语，消失在岁月的眼波流转
            </p>
            <p>
                <a class="topic-btn" disabled="disabled">自己</a>
            </p>
        </div>
    </div>
    <div class="no-holder text-center">
        <h3>暂无主持</h3>
        <h5>是时候展现你真正的技术了！</h5>
    </div>
    <div class="topic-footer">
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="num">50</div>
                <div class="name">阅读</div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="num">50</div>
                <div class="name">微博</div>
            </div>
        </div>
    </div>
</div>