<div class="live-apply" id="dialog-container" style="display:none">
    <i class="fa fa-close live-close" onclick="gobackMain()"></i>
    <div class="apply-ok">
        <span class="icons icons-success"></span><span class="title">直播申请发送成功</span>
    </div>
    <div class="apply-ad-wrap">
        您的直播地址为：<span id="dialog-room-url"></span>
    </div>
    <div class="apply-handle text-center">我们将在<span class="text-warning">10分钟内</span>处理您的申请，请耐心等待...</div>
    <div class="apply-back clearfix">
        <button class="btn btn-success pull-right" onclick="gobackMain()">确 定</button>
    </div>
</div>