<div class="live-head box-shadow clearfix">
    <div class="live-left live-detail">
        <div class="detail-head clearfix">
            <span class="title"><a href="">盈谷未来医院肺部肿瘤切除手术</a></span>
            <span class="state state-living">正在直播</span>
            <span class="state state-noliving">未开始</span>
            <a href="#" class="btn btn-success pull-right">发送直播广告</a>
        </div>
        <div class="detail-foot clearfix">
            <span>临床外科 > 心胸外科</span>
            <span>直播时间：2017/05/22 14:00-16:00</span>
            <span>参与人数：453</span>
            <span class="handle pull-right">
                <a href=""><i class="fa fa-star-o"></i> 收藏</a>
                <a href=""><i class="fa fa-share-alt"></i> 分享</a>
            </span>
        </div>
    </div>
    <div class="live-right live-people">
        <div class="avatar">
            <a href=""><img src="../../images/core/avatar.png" width="64" height="64" alt="" class="img-circle"></a>
            <span class="anchor-hint">主播</span>
        </div>
        <div class="name-wrap">
            <div class="name"><a href="">孙思邈</a></div>
            <div>主任医生</div>
        </div>
        <a class="btn btn-success pull-right attention" href="#">
            <span class="is-attention">关注</span>
            <span class="fans-num">5</span>
        </a>
    </div>
</div>