<div id="liveAgreement" class="live-agreement">
    <h2 class="title text-center">医生个人直播协议</h2>
    <p class="intro">《医生个人直播协议》，是西安盈谷网络科技有限公司（以下简称“我方”）和主播（以下称“你”或“你方”）所约定的规范双方权利和义务的电子协议，以下称“本协议”。你方勾选“我同意”或点击“我已阅读并遵守该协议”按钮，即表示你方已经仔细阅读、充分理解并完全地毫无保留地接受协议的所有条款</p>
    <ol type="1" class="content">
        <div class="outline">第一条 总则</div>
        <li class="cell">你方根据我方注册要求及规则，在我方合法经营的医真•直播平台（以下简称“平台”）上申请成为主播，为该平台用户提供在线医疗视频直播服务。</li>
        <li class="cell">签署本协议前，你方已充分了解我方之各项规则及要求，并且有条件及有能力履行主播职责及义务。</li>
        <li class="cell">你方承诺并声明在为我方提供服务时符合所在地法律的相关规定，不得以履行本协议名义从事其他违反中国及所在地法律规定的行为。</li>
        <li class="cell">你方与我方不构成任何劳动法律层面的雇佣、劳务关系。</li>
    </ol>
    <ol class="content">
        <div class="outline">第二条 我方权利义务</div>
        <li class="cell">1、我方有权制定平台运营制度及对主播的管理规则，有权对你方进行管理和监督，有权根据运营情况对相应规则做出调整或变更。</li>
        <li class="cell">2、我方有权对你方进行考察、评判，以确立（取消）对你方的奖励或处罚。</li>
        <li class="cell">3、我方有权对你方的服务提出改进建议和意见。</li>
        <li class="cell">4、我方拥有你方在我方平台在线直播内容的版权，包括但不限于直播版权和点播版权。对于任何非法盗用、刊登、转载、复制你方在我方平台在线直播内容音视频的公司、团体、个人或组织，我方拥有法律诉讼权、损失赔偿权和获偿权。</li>
        <li class="cell">5、我方负责提供平台技术服务支持，同时负责平台收益分成结算（若有）。</li>
    </ol>
    <ol class="content">
        <div class="outline">第三条 你方权利义务</div>
        <li class="cell">1、你方须年满16周岁（未成年人须在家长陪同下签约）。</li>
        <li class="cell">2、你方自己承担支持视频和语音的设备，并保证直播图像清晰，语音质量清晰。</li>
        <li class="cell">3、你方承诺直播房间必须作游戏直播用途，不得用于其他任何非游戏直播性质的活动。</li>
        <li class="cell">4、你方承诺，你方所制作的在线直播节目不侵犯其他第三人的任何权利（包括但不限于版权）。若你方违反本条约定，因此给我方造成的损害的，全部赔偿责任由你方承担。</li>
        <li class="cell">5、你方承诺，未经我方允许，在运营过程中不得引导我方平台现有用户进入其他同类平台（包括但不限于YY语音、17173、斗鱼、6间房、9158虚拟社区、呱呱视频、ISpeak等语音、视频平台）。</li>
        <li class="cell">6、你方承诺严格遵守《医生主播管理及处罚条例》，不得使用直播房间从事涉黄、反动等违法违纪的任何活动。不得以游戏直播为幌子，从事暴力、传销、推销、鼓动诱导性营销等活动。如果你方违反上述承诺，我方有权单方面扣除你方部分或全部收益，情节严重者我方有权随时单方面解除本协议并举报到相关法律机关。</li>
    </ol>
    <ol class="content">
        <div class="outline">第四条 报酬及支付</div>
        <li class="cell">
            <p>1、以你方为平台用户提供直播服务为前提：</p>
            <p>用户可对你方进行赠送虚拟礼物的消费，虚拟礼物以金豆计价<span class="text-warning">（1000金豆=1元人民币）</span>，我方就你方收到的虚拟礼物总值（金豆）兑换成人民币做为支付你方报酬的基准；如你方的虚拟礼物总值未超过壹佰元人民币，则不进行兑换结算，如你方的虚拟礼物总值达到或超过壹佰元人民币，则你方可以申请兑换，我方将在次月发起结算流程。报酬支付以你方申请兑换为前提，具体数额以你方申请兑换的数额为准。</p>
        </li>
        <li class="cell">2、你方所获得的报酬应当缴纳的税金由我方根据国家相关法律法规代扣代缴（起征点800元人民币），仅将税后金额支付于你方于注册页面上填写的支付账户中。</li>
        <li class="cell">3、你方保证填写账户信息正确、真实、有效，如因账户信息造成我方的任何支付错误，由你方独自承担责任。同时，若你方需要变更帐户信息，需及时书面通知我方，新账户信息由你方提交申请且经我方审核通过后下一个结算月生效。</li>
    </ol>
    <ol class="content">
        <div class="outline">第五条 保密制度</div>
        <li class="cell">1、你方应严格遵守我方的保密制度，承诺无限期保守我方的商业秘密。商业秘密是指由我方提供的、或者你方在双方合作期间了解到的、或者我方对第三方承担保密义务的，与我方业务有关的，能为我方带来经济利益，具有实用性的、非公知的所有信息，包括（但不限于）：技术信息、经营信息和与我方行政管理有关的信息和文件（含本协议及相关协议内容）。</li>
        <li class="cell">
            2、你方应严格遵守本协议，未经我方书面授权或同意，对我方的商业秘密不得：
            <ol>
                <li class="cell">（1）以任何方式向第三方或不特定的公众进行传播、泄露；</li>
                <li class="cell">（2）为非本协议的目的而使用我方的商业秘密。</li>
            </ol>
        </li>
    </ol>
    <ol class="content">
        <div class="outline">第六条 协议的变更、解除、终止</div>
        <li class="cell">1、我方有权在必要时变更、终止、中止本协议，并在相关页面进行通知。本协议条款变更后，如你方继续为平台用户提供直播服务，即视为你方已接受变更后的协议。</li>
        <li class="cell">2、双方就解除本协议协商一致即可终止协议。</li>
        <li class="cell">
            3、你方有下列情形之一，我方可以立即解除本协议，不需要提前通知：
            <ol>
                <li class="cell">（1）我方发现你方违反对本协议所做的声明；</li>
                <li class="cell">（2）因你方个人行为直接或间接给对我方利益造成重大损害的；</li>
                <li class="cell">（3）违反国家法律法规的；</li>
                <li class="cell">（4）违反本协议规定的其它义务。</li>
            </ol>
        </li>
        <li class="cell">4、由于本协议第六条第1、2款造成的协议解除、终止，如你方帐号中尚未结算报酬大于等于人民币壹佰元，我方按本协议第四条规定与你方结算报酬；如你方账号中尚未结算报酬小于人民币壹佰元，我方不再与你方就尚未结算报酬进行结算。</li>
        <li class="cell">5、由于本协议第六条第3款造成的协议解除、终止，我方有权扣除你方账号中尚未结算的全部报酬。</li>
    </ol>
    <ol class="content">
        <div class="outline">第七条 违约责任</div>
        <li class="cell">1、任何由于你方声明不实或违反其声明承诺事项导致他方向我方提起诉讼、索赔之后果，你方将承担我方因此产生的费用、损失及赔偿，其中包括我方为诉讼支付的有关费用及律师费。</li>
        <li class="cell">2、违反本协议保密条款给我方造成的任何损失，你方应承担经济赔偿责任。</li>
        <li class="cell">3、若你方提供的服务不符合我方的要求，我方有权不予支付相关报酬。</li>
    </ol>
    <ol class="content">
        <div class="outline">第八条 争议处理</div>
        <div class="cell">因履行本协议而产生的任何争议，双方均应本着友好协商的原则加以解决。协商解决未果，任何一方均可以提请西安盈谷网络科技有限公司住所地有管辖权的人民法院诉讼解决</div>
    </ol>
    <ol class="content">
        <div class="outline">第九条 其他</div>
        <li class="cell">1、本协议未尽事宜，或与国家、地方有关规定相悖的，按有关规定执行。</li>
        <li class="cell">2、本协议签订地：西安市高新区</li>
    </ol>
    <div class="hint text-danger">本协议共九条，本行以下无协议正文</div>
    <div class="text-center">
        <button class="btn btn-success" onclick="readAgreement()">我已阅读并遵守该协议</button>
    </div>
</div>