<div class="live-all">
    <ul class="livenav clearfix">
        <li class="livenav-cell"><a href="" class="active">医技科</a></li>
        <li class="livenav-cell"><a href="#">临床内科</a></li>
        <li class="livenav-cell"><a href="#">临床外科</a></li>
        <li class="livenav-cell"><a href="#">妇儿</a></li>
        <li class="livenav-cell"><a href="#">五官科</a></li>
        <li class="livenav-cell"><a href="#">中医</a></li>
        <li class="livenav-cell"><a href="#">预防公卫</a></li>
        <li class="livenav-cell"><a href="#">其他科室</a></li>
    </ul>
    <div class="keshi-list">
        <div class="single-wrapper">
            <span class="single"><a href="#" class="active">检查科</a></span>
            <span class="single"><a href="#">放射科</a></span>
            <span class="single"><a href="#">超声内窥</a></span>
            <span class="single"><a href="#">放疗科</a></span>
        </div>
    </div>
</div>
