<div class="row-table clearfix">
    <div class="row">
        <div class="col-sm-6">
            <div class="col">
                <img src="../../images/core/test.png" alt="" height="105" width="128">
            </div>
            <div class="col col-text">
                <h4 class="clearfix">
                    <span class="title">直播测试</span>
                    <span class="text-rdiuos textnostart pull-right">申请中</span>
                    <!--<span class="text-rdiuos textnostart pull-right">未开始</span>-->
                    <!--<span class="text-rdiuos texting pull-right">正在进行</span>-->
                    <!--<span class="text-rdiuos textend pull-right">完成</span>-->
                    <!--<span class="text-rdiuos textend pull-right">已过期</span>-->
                    <!--<span class="text-rdiuos textend pull-right">申请失败</span>-->
                </h4>
                <h5 class="live-address">
                    <span class="address-name">RTMP地址：</span>
                    <span class="address">
                            <input type="text" class="form-control"  value="">
                        </span>
                    <a class="btn btn-sm btn-success btn-copy copyBtn" data-clipboard-text="{$item['rtmp_url']}" href="javascript:;">复制</a>
                </h5>
                <h5 class="live-address">
                    <span class="address-name">直播码：</span>
                    <span class="address">
                            <input type="text" class="form-control"  value="">
                        </span>
                    <a class="btn btn-sm btn-success btn-copy copyBtn" data-clipboard-text="{$item['live_code']}" href="javascript:;">复制</a>
                </h5>
            </div>
        </div>
        <div class="col-sm-6 colbtn">
            <div class="col">
                <h5>2017-07-07 18:30</h5>
                <h5><a class="help-intro" href="#">客户端使用帮助>></a></h5>
            </div>
            <div class="pull-right">
                <a class="btn btn-success w-80px" href="">修 改</a>
                <a class="btn btn-success w-80px" href="">进入直播</a>
            </div>
        </div>
    </div>
</div>